.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
}
