.container {
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin: 8rem 0; */
  margin: 0 8.2%;
  /* flex-wrap: wrap; */
}
.carousel {
  background-color: rgb(242, 206, 200);
  width: 48% !important;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-bottom: 9rem;
}

.carousel > h3 {
  font-size: 21px;
  line-height: 31px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #000f3b;
  font-weight: 400;
  font-family: "Comfortaa";
  padding-top: 5rem;
}
.slider {
  width: 90%;
  margin: auto;
}

.mockup {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 48% !important;
  background-color: #8dcce3;
  color: "#000f3b";
  display: block;
  align-items: center;
}

.mockup > h3 {
  font-size: 2.1rem;
  font-family: "Comfortaa";
  font-weight: 400;
  padding-top: 5rem;
}
.mockup > h2 {
  font-size: 3.5rem;
  font-family: "Comfortaa";
  font-weight: 400;
}
.mockup > h2 > span {
  font-size: 3.5rem;
  font-family: "Comfortaa";
  font-weight: 900;
}
.mockup > p {
  font-size: 1.8rem;
  font-family: "Poppins";
  font-weight: 400;
}

.see_all_sale {
  display: inline-flex;
  color: #ffffff;
  background-color: #000f3b;
  padding: 2rem 4rem;
  letter-spacing: 1px;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 6px 0 40px 0;
}

/* RESPONSIVE  */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  .carousel {
    width: 100% !important;
    border-radius: 1rem;
  }

  .mockup {
    margin-top: 2rem;
    width: 100% !important;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
}
